body
{
    background-color:#9E9E9E;
    overflow:hidden;
    font-size:14px;
}

.gameZone
{
    position:absolute;
    left:30%;
    top:0px;
    width:100%;
    height:550px;
    background-Color:#9E9E9E;
}

.start-btn{
	padding: 1em 1.5em;
	margin-bottom: 0.5em;
	border: none;
	background-color: #1976D2;
	color: #fff;
	border-radius: 10px;
	font-size: 14px;
}
    
.mask{
    position:absolute;
    left:100px;
    top:0px;
    width:300px;
    height:20px;
    background-color:#9E9E9E;
    border:solid 0px;
    z-index:5;
}

.map
{
    position:absolute;
    left:100px;
    top:20px;
    width:280px;
    height:504px;
    background-image:url(images/tetris_grid.gif);
    border:solid 3px green;
}

.gameOver{
    position:absolute;
    left:100px;
    top:20px;
    width:280px;
    height:504px;
    font-weight:800;
    font-size:xx-large;
    color:Red;
    text-align:center;
    border:solid 3px;
    line-height:420px;
    display:none;
    filter: Alpha(Opacity=80); 
    background-color:pink;
}

.map div{
    WIDTH: 28px; 
    BACKGROUND-REPEAT: no-repeat; 
    POSITION: absolute; 
    HEIGHT: 28px
}
    
.PreviewMap{
    position:absolute;
    left:400px;
    top:20px;
    width:168px;
    height:168px;
    background-color:#9E9E9E;
    border:solid 2px green;
}

.PreviewMap div{
    WIDTH: 28px; 
    BACKGROUND-REPEAT: no-repeat; 
    POSITION: absolute; 
    HEIGHT: 28px
}

.start{
    position:absolute;
    left:400px;
    top:240px;
    width:168px;
    height:40px;
}

.scoreSpeed{
    position:absolute;
    left:400px;
    top:200px;
    width:190px;
    height:40px;
}

.score{
    color:pink;
    font-weight:bold;
    width:20px;
    height:20px;
    background-color:blue;
    padding-left:10px;
    padding-right:10px;
    font-size:medium;
}

.speed{
    color:pink;
    font-weight:bold;
    width:20px;
    height:20px;
    background-color:blue;
    padding-left:5px;
    padding-right:5px;
    font-size:medium;
}

.copyright{
    position:absolute;
    left:400px;
    top:280px;
    word-break:break-all; 
    width:160px;
    height:225px;
    border:solid 2px green;
    padding:5px;
}